.fq-book-cover{
  background-image: url("../assets/fq_bookcover.png");
  background-repeat: no-repeat;
}

.fq-banner{
  background-image: url("../assets/fq_main_banner.png");
  height: 8em;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 0em;
  margin-top: 3em;
}
