<ion-header class="op-0-7">
<!--   <ion-navbar>
    <ion-title style="margin">
      Quests
    </ion-title>
  </ion-navbar> -->
</ion-header>

<ion-content class="fq-page">
  <ion-list>

    <ion-list-header class="center">Your Quests</ion-list-header>
    <button ion-button (click)="showQuestForm()" class="button-styling-quest">Embark on a new quest</button>

    <ion-item *ngFor="let errand of errands" class="npc-background">
      <ion-card (click)="getErrandInfo(errand)" class="npc-card">
        <img src="{{errand.npc_avatar_url}}" item-left class="npc-icon">
        <ion-card-content>
          <ion-card-title class="npc-text">
            <p class="npc-text">{{errand.quest_description}}</p>
          </ion-card-title>

        </ion-card-content>
      </ion-card>
    </ion-item>
<!--     <ion-card *ngIf="">
      <ion-card-title>
        Extra info
      </ion-card-title>
    </ion-card> -->
  </ion-list>

</ion-content>
