<ion-header class="op-0-7">
  <ion-navbar>
    <ion-title>
      Quests
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="fq-page">
  <ion-list>
    <button ion-button (click)="showQuestForm()">Embark on a new quest</button>
    <ion-item *ngFor="let errand of errands">
      <ion-card (click)="getErrandInfo(errand)">
        <img src="{{errand.npc_avatar_url}}" item-left style="width: 80px; height: 80px; float: left;" />
        <ion-card-content>
          <ion-card-title style="font-size: 12px; white-space: normal; text-align: right;">
            {{errand.quest_description}}
          </ion-card-title>

        </ion-card-content>
      </ion-card>
    </ion-item>
<!--     <ion-card *ngIf="">
      <ion-card-title>
        Extra info
      </ion-card-title>
    </ion-card> -->
  </ion-list>

</ion-content>
