page-home {

}



.background-image {
  background-image: url("http://i.imgur.com/tWJSL4i.png");

        background-repeat: no-repeat;
        height: 500px;
        position: float;
}

.button-styling-home {
  margin-top: 60px;
  font-size: 30px;
  font-variant: small-caps;
  font-weight: 800;
  color: white;
  background-color: rgba(255, 255, 255, 0)
}

.parchment-home {
  position: relative;
  margin-top: -110px;
  top: 130px;
  width: 430px;
}

.label {
  font-size: 22px;
  font-weight: 600;
  color: maroon;
}
