.modal-wrapper .modify-modal {
  border: 20px solid #ffffff;
  border-radius: 20px;
  // max-height: calc(100vh - 225px)
  // border-color: #7B1FA2;
  position: absolute;
  width: 80%;
  height: 75%;
  top: 10%;
  left: 10%;
}
@media not all and (min-height: 600px) and (min-width: 768px) {
  ion-modal ion-backdrop .modal-wrapper .modify-modal{
    visibility: visible;
  }
}
