<ion-header class="op-0-7">
  <ion-navbar>
    <ion-title>
      Map
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="fq-page">
  <ng2-map class='long-map' [options]="mapOptions">
    <custom-marker *ngFor="let pos of positions"
          [position]="pos"><div class="avatar walk-south"></div></custom-marker>
    <marker *ngFor="let errand of errands"
        [icon]="errand.icon" [position]="errand.coords" (click)="showInfoPane(errand)">
    </marker>
  </ng2-map>

<!--   <p><span>Current Latitude: {{locationTracker.lat}}</span>
  <span>Current Longitude: {{locationTracker.lng}}</span></p> -->
  <button ion-button (click)="start()" class="button-styling start">
    O
  </button>
  <button ion-button (click)="stop()" class="button-styling stop">
    X
  </button>

</ion-content>

<!-- test@test.com -->
