<ion-header>
  <ion-navbar>
    <ion-title>
      Map
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ng2-map [options]="mapOptions">
    <marker *ngFor="let pos of positions"
         class="avatar walk-south " icon="../../assets/avatar_sprite_sheet.png"[position]="pos"></marker>
    <marker *ngFor="let errand of errands"
        icon="/assets/castle.gif" [position]="errand.coords" (click)="showInfoPane(errand)">
    </marker>
  </ng2-map>
  <h3>Current Latitude: {{locationTracker.lat}}</h3>
  <h3>Current Longitude: {{locationTracker.lng}}</h3>
  <button ion-button full primary (click)="start()">Start Tracking</button>
  <button ion-button full primary (click)="stop()">Stop Tracking</button>
  <button ion-button icon-only (click)="showInfoPane($event)">
  <ion-icon name="more"></ion-icon>
</button>
</ion-content>
