<ion-header class="op-0-7">
  <ion-navbar>
    <ion-title>
      Map
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="fq-page">
  <ng2-map class='long-map' [options]="mapOptions">
    <custom-marker *ngFor="let pos of positions"
          [position]="pos"><div class="avatar walk-south"></div></custom-marker>
    <marker *ngFor="let errand of errands"
        [icon]="errand.icon" [position]="errand.coords" (click)="showInfoPane(errand)">
    </marker>
  </ng2-map>
  <button class="map-button" (click)="start()">Adventure's afoot!</button>
  <button class="map-button" (click)="stop()">Leave me in peace</button>
</ion-content>
